NET "CLK_bit" LOC = P114;
NET "DATA" LOC = P115;
NET "CLR" LOC = P116;
NET "To_Dac[0]" LOC = P23;
NET "To_Dac[1]" LOC = P21;
NET "To_Dac[2]" LOC = P16;
NET "To_Dac[3]" LOC = P14;
NET "To_Dac[4]" LOC = P11;
NET "To_Dac[5]" LOC = P9;
NET "To_Dac[6]" LOC = P7;
NET "To_Dac[7]" LOC = P5;
NET "To_Dac[8]" LOC = P1;
NET "To_Dac[9]" LOC = P142;
NET "To_Dac[10]" LOC = P140;
NET "To_Dac[11]" LOC = P138;
NET "To_Dac[12]" LOC = P134;
NET "To_Dac[13]" LOC = P132;

NET "Arduino_PIN[0]" LOC = P126;
NET "Arduino_PIN[1]" LOC = P131;
NET "Arduino_PIN[2]" LOC = P133;
NET "OSC_20Mhz" LOC = P123;
NET "Arduino_CLK" LOC = P137;
NET "BTN[0]" LOC = P47;
NET "BTN[1]" LOC = P48;
NET "BTN[2]" LOC = P51;
NET "BTN[3]" LOC = P55;
NET "TREE_BIT[0]" LOC = P121;
NET "TREE_BIT[1]" LOC = P120;
NET "TREE_BIT[2]" LOC = P119;
NET "TEMP_LED[0]" LOC = P80;
NET "TEMP_LED[1]" LOC = P81;
NET "TEMP_LED[2]" LOC = P82;
NET "send_CLK" LOC = P118;
